<div class="container">
  <h1 class="text-center">All cocktails</h1>
  <div class="container"></div>
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-4">
          <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  <%= link_to "Add a cocktail", new_cocktail_path %>
</div>
